src/test/resources/xsd/entities_etalon.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="AP_TEST">
        <xs:complexType>
            <xs:sequence minOccurs="0">
                <xs:choice maxOccurs="unbounded">
                    <xs:element name="copy">
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="AP_TEST.fields">
                                    <xs:attributeGroup ref="copy"/>
                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="row">
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="AP_TEST.fields">
                                    <xs:attribute name="id" type="xs:ID"/>
                                    <xs:attributeGroup ref="row_attributes"/>
                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                </xs:choice>
            </xs:sequence>
            <xs:attributeGroup ref="table"/>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="AP_TEST.fields" abstract="true">
        <xs:all>
            <xs:element ref="field" minOccurs="0"/>
            <xs:element name="ID" minOccurs="0" type="field_attributes"/>
            <xs:element name="REF" minOccurs="0" type="field_attributes"/>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="AP_TEST.required">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="row">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="unique-key" minOccurs="0">
                            <xs:complexType>
                                <xs:all>
                                    <xs:element name="ID" minOccurs="0"/>
                                    <xs:element name="REF" minOccurs="0"/>
                                </xs:all>
                            </xs:complexType>
                        </xs:element>
                        <xs:element ref="field" minOccurs="0"/>
                        <xs:element name="ID" minOccurs="0" type="field_attributes"/>
                        <xs:element name="REF" minOccurs="0" type="field_attributes"/>
                    </xs:all>
                    <xs:attributeGroup ref="row_attributes"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attributeGroup ref="table"/>
    </xs:complexType>

    <xs:element name="AP_MORE_TYPES">
        <xs:complexType>
            <xs:sequence minOccurs="0">
                <xs:choice maxOccurs="unbounded">
                    <xs:element name="copy">
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="AP_MORE_TYPES.fields">
                                    <xs:attributeGroup ref="copy"/>
                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="row">
                        <xs:complexType>
                            <xs:complexContent>
                                <xs:extension base="AP_MORE_TYPES.fields">
                                    <xs:attribute name="id" type="xs:ID"/>
                                    <xs:attributeGroup ref="row_attributes"/>
                                </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
                    </xs:element>
                </xs:choice>
            </xs:sequence>
            <xs:attributeGroup ref="table"/>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="AP_MORE_TYPES.fields" abstract="true">
        <xs:all>
            <xs:element ref="field" minOccurs="0"/>
            <xs:element name="ID" minOccurs="0" type="field_attributes"/>
            <xs:element name="DATE" minOccurs="0" type="field_attributes"/>
            <xs:element name="DOUBLE" minOccurs="0" type="field_attributes"/>
            <xs:element name="BOOLEAN" minOccurs="0" type="field_attributes"/>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="AP_MORE_TYPES.required">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="row">
                <xs:complexType>
                    <xs:all>
                        <xs:element name="unique-key" minOccurs="0">
                            <xs:complexType>
                                <xs:all>
                                    <xs:element name="ID" minOccurs="0"/>
                                    <xs:element name="DATE" minOccurs="0"/>
                                    <xs:element name="DOUBLE" minOccurs="0"/>
                                    <xs:element name="BOOLEAN" minOccurs="0"/>
                                </xs:all>
                            </xs:complexType>
                        </xs:element>
                        <xs:element ref="field" minOccurs="0"/>
                        <xs:element name="ID" minOccurs="0" type="field_attributes"/>
                        <xs:element name="DATE" minOccurs="0" type="field_attributes"/>
                        <xs:element name="DOUBLE" minOccurs="0" type="field_attributes"/>
                        <xs:element name="BOOLEAN" minOccurs="0" type="field_attributes"/>
                    </xs:all>
                    <xs:attributeGroup ref="row_attributes"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attributeGroup ref="table"/>
    </xs:complexType>

    <xs:complexType name="groupBody">
        <xs:sequence minOccurs="0">
            <xs:choice maxOccurs="unbounded">
                <xs:element type="groupBody" name="group"/>
                <xs:group ref="groupBodyContent"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:group name="groupBodyContent">
        <xs:choice>
            <xs:element ref="table"/>
            <xs:element ref="create-entity"/>
            <xs:element ref="AP_TEST"/>
            <xs:element ref="AP_MORE_TYPES"/>
        </xs:choice>
    </xs:group>

    <xs:complexType name="groupRequired">
        <xs:sequence minOccurs="0">
            <xs:choice maxOccurs="unbounded">
                <xs:element type="groupRequired" name="group"/>
                <xs:group ref="groupRequiredContent"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:group name="groupRequiredContent">
        <xs:choice>
            <xs:element ref="table"/>
            <xs:element name="AP_TEST" type="AP_TEST.required"/>
            <xs:element name="AP_MORE_TYPES" type="AP_MORE_TYPES.required"/>
        </xs:choice>
    </xs:group>

    <xs:element name="include-entities">
        <xs:complexType>
            <xs:attribute name="file" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="create-entity">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="parameter" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:complexContent>
                            <xs:extension base="parameter">
                                <xs:attribute name="null" type="xs:boolean" use="optional"/>
                                <xs:attribute name="value" type="xs:string" use="optional"/>
                            </xs:extension>
                        </xs:complexContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="comment" type="xs:string" use="optional"/>
            <xs:attribute name="id" type="xs:ID" use="optional"/>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="parameter">
        <xs:group ref="generators" minOccurs="0" maxOccurs="1"/>
        <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:attributeGroup name="row_attributes">
        <xs:attribute name="comment" type="xs:string" use="optional"/>
        <xs:attribute name="autoComplete" type="xs:boolean" use="optional"/>
    </xs:attributeGroup>

    <xs:element name="row">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="field" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="optional"/>
            <xs:attributeGroup ref="row_attributes"/>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="field_attributes">
        <xs:group ref="generators" minOccurs="0" maxOccurs="1"/>
        <xs:attribute name="value"/>
    </xs:complexType>

    <xs:element name="field">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="field_attributes">
                    <xs:attribute name="name" use="required"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:group name="generators">
        <xs:choice>
            <xs:element name="generateString">
                <xs:complexType>
                    <xs:attribute name="precision" type="xs:integer" use="required"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="generateNumeric">
                <xs:complexType>
                    <xs:attribute name="precision" type="xs:string" use="required"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="generateInt">
                <xs:complexType>
                    <xs:attribute name="precision" type="xs:string" use="required"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="generateBoolean"/>
            <xs:element name="generateDate"/>
            <xs:element name="generateDateTime"/>
        </xs:choice>
    </xs:group>

    <xs:element name="entities">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="include-entities" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="entity" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="entity">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="comment" minOccurs="0"/>
                <xs:element ref="parameters" minOccurs="0"/>
                <xs:element name="body">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:choice maxOccurs="unbounded">
                                <xs:group ref="groupBodyContent"/>
                                <xs:element name="group" type="groupBody"/>
                            </xs:choice>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="required" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:choice maxOccurs="unbounded">
                                <xs:group ref="groupRequiredContent"/>
                                <xs:element name="group" type="groupRequired"/>
                            </xs:choice>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="comment">
        <xs:complexType mixed="true"/>
    </xs:element>

    <xs:attributeGroup name="copy">
        <xs:attribute name="row" type="xs:string" use="required"/>
        <xs:attribute name="comment" type="xs:string" use="optional"/>
        <xs:attribute name="id" type="xs:ID" use="optional"/>
        <xs:attribute name="autoComplete" type="xs:boolean" use="optional"/>
    </xs:attributeGroup>

    <xs:element name="copy">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="field" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attributeGroup ref="copy"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="parameters">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="parameter" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:complexContent>
                            <xs:extension base="parameter">
                                <xs:attribute name="default" type="xs:string" use="optional"/>
                            </xs:extension>
                        </xs:complexContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:attributeGroup name="table">
        <xs:attribute name="orderClause" type="xs:string" use="optional"/>
        <xs:attribute name="identityInsert" use="optional">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="on"/>
                    <xs:enumeration value="off"/>
                    <xs:enumeration value="true"/>
                    <xs:enumeration value="false"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="nullFirst" use="optional">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="true"/>
                    <xs:enumeration value="false"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>

    <xs:element name="table">
        <xs:complexType>
            <xs:sequence>
                <xs:choice maxOccurs="unbounded">
                    <xs:element ref="row"/>
                    <xs:element ref="copy"/>
                </xs:choice>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attributeGroup ref="table"/>
        </xs:complexType>
    </xs:element>
</xs:schema>